<script src="/js/itens_carrinho.js" defer></script>
<link rel="stylesheet" href="/css/produtos.css">
<div class="box">
<ul class="prod">
    {{#each dados}}
        <li>
            <h2>{{this.nome}}</h2>
            <img class="item" src="/img/{{this.nome}}.jpg" alt="">
            <br>
            <br>
            <p>R${{this.precoUnitario}}</p>
            <button class="adicionar-ao-carrinho" data-nome={{this.nome}} data-preco={{this.precoUnitario}} data-qtde=1 cod-prod={{this.id}}>Adicionar ao Carrinho</button>
        </li>
    {{/each}}
</ul>
</div>